<VirtualHost *:80>
    ServerName {{ redmine_domain }}
    DocumentRoot "/var/www/html/{{ redmine_dir }}/public" 

    ErrorLog logs/redmine_error_log
    LogLevel warn

    <Directory "/var/www/html/{{ redmine_dir }}/public">
        Options Indexes ExecCGI FollowSymLinks
        Require all granted
        AllowOverride all
        RailsBaseURI /{{ redmine_dir }}/public
        PassengerResolveSymlinksInDocumentRoot on
    </Directory>
</VirtualHost>