passenger_root /usr/share/ruby/vendor_ruby/phusion_passenger/locations.ini;
passenger_ruby /opt/redmine/.rvm/gems/default/wrappers/ruby;
passenger_instance_registry_dir /var/run/passenger-instreg;

server {
listen {{ redmine_port }};
server_name {{ redmine_domain }};

root /usr/share/nginx/html/redmine/public;

# log files
access_log /var/log/nginx/{{ redmine_domain }}.access.log;
error_log /var/log/nginx/{{ redmine_domain }}.error.log;

passenger_enabled on;
passenger_min_instances 1;

client_max_body_size 10m;
}